@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter','Lexend Deca', sans-serif;
}

:root{
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
    --background-body: hsl(0, 0%, 5%);
}

body{
    background-color: var(--background-body);
}

main{
    width: min-content;
    border-radius: 5px;
    background-color: var(--card-background);
    margin: 5% auto;
}

main,.container-actions{
    display: flex;
}

a{
    text-decoration: none;
}

.section-text{
    padding: 4rem 5rem;
}

.section-text h1{
    font-size: 2rem;
}

.section-text h1,h2,footer p{
    color: var(--main-heading);
}

.section-text p{
    color: var(--main-paragraph);
}

.paragraph-main{
    margin: 2rem 0;
}

.container-actions p{
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0.5rem 0;
}

fieldset{
    margin: 3rem 2rem;
    border: none;
}

.section-text h1 span,footer p a{
    color: var(--accent);
}

figure img{
    filter: sepia(100%) brightness(45%) hue-rotate(230deg) saturate(560%) contrast(70%);
    border-radius: 0 5px 5px 0;
}

footer p{
    text-align: center;
}

footer p a{
    opacity: 0.9;
    font-weight: bold;
    transition: all 0.3s;
}

footer p a:hover{
    opacity: 1;
    text-decoration: underline;
}

@media (max-width: 880px){
    main{
        width: 100%;
        margin: 0;
        flex-direction: column-reverse;
    }
    
    .section-text{
        text-align: center;
    }
    
    .section-text h1,h2{
        font-size: 1.5rem;
    }
    
    .container-actions{
        flex-direction: column;
    }
    
    figure img{
        width: 100%;
        border-radius: 5px 5px 0 0;
        background-size: cover;
    }
}